body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f2f2f2;
}

.admin-container {
    display: flex;
}

/* SIDEBAR */
.sidebar {
    width: 230px;
    height: 100vh;
    background: #111827;
    color: white;
    padding: 25px;
    position: fixed;
}

.sidebar .logo {
    font-size: 24px;
    margin-bottom: 40px;
    line-height: 1.2;
}

.sidebar .logo span {
    font-size: 16px;
    color: #60a5fa;
}

.sidebar nav a {
    display: block;
    padding: 12px 0;
    color: #cbd5e1;
    text-decoration: none;
    font-size: 16px;
}

.sidebar nav a:hover,
.sidebar nav a.active {
    color: white;
    background: #1e3a8a;
    padding-left: 8px;
    border-radius: 6px;
}

/* CONTENT */
.content {
    margin-left: 260px;
    padding: 25px;
    width: calc(100% - 260px);
}

.section {
    display: block;
}

.hidden {
    display: none;
}

/* CARDS */
.cards {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.card {
    background: white;
    padding: 20px;
    width: 250px;
    border-radius: 12px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.15);
    text-align: center;
}

.card h3 {
    margin-bottom: 10px;
}

.card p {
    font-size: 28px;
    font-weight: bold;
}

/* TABLE */
.admin-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.admin-table th,
.admin-table td {
    padding: 12px;
    border: 1px solid #ddd;
}

.admin-table th {
    background: #1e3a8a;
    color: white;
}

.action-btn {
    padding: 6px 12px;
    margin-right: 6px;
    border-radius: 6px;
    cursor: pointer;
    border: none;
}

.edit-btn {
    background: #3b82f6;
    color: white;
}

.delete-btn {
    background: #dc2626;
    color: white;
}
.add-btn {
    background: #2563eb;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 6px;
    cursor: pointer;
    margin-bottom: 15px;
}

.add-btn:hover {
    background: #1e40af;
}
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
}

.popup.hidden {
    display: none;
}

.popup-content input,
.popup-content textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    border-radius: 6px;
    border: 1px solid #ddd;
}

.save-btn {
    background: #16a34a;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
}

.close-btn {
    background: #ef4444;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
}
